.container_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin-top: 110px;
}

.container_footer ul {
    list-style: none;
    display: flex;
    padding: 5px;
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;
}
.container_footer li {
    padding: 30px;
}
.social {
    margin-left: 95px;
}
.nav1 {
   display: flex;
    
}